
.card img
{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: 0 0;
}

table td img
{
    width: 100px;
    height: 90px !important;
    object-fit: cover;
}

/* Reset styles for input elements */
input {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
}

/* Additional styling if needed */



body {
    margin: 0; /* Remove default body margin */
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/body.jpg');
    background-size: cover;
    filter: brightness(101%) saturate(216%) opacity(55%);
    -webkit-filter: brightness(101%) saturate(216%) opacity(55%);
    -moz-filter: brightness(101%) saturate(216%) opacity(55%);
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

