
.card img
{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: 0 0;
}

table td img
{
    width: 100px;
    height: 90px !important;
    object-fit: cover;
}

/* Reset styles for input elements */
input {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
    text-align: inherit;
}

/* Additional styling if needed */
